.vscode/**
**/*.ts
**/*.map
**/*.lua
.gitignore
**/tsconfig.json
**/tsconfig.base.json
scripts/**
testfiles/**
.eslintignore
.eslintrc.js
.gitignore

# node_modules are bundled into the minified release thing by esbuild
client/node_modules/**
server/node_modules/**
node_modules/**

# `out` is a plain Typescript build, while `out-min` is the minified build
client/out/**
server/out/**
